*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}
:root{
    --grey: #202124;
    --yellow-font: #d3c851;
    --yellow-bgd: #1d1c16;
}
.full-width{
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
html {
    scroll-behavior: smooth;
}


/* NAV */
nav{
    font-size: 18px;
    background-color: white;
    position: fixed;
    top: 20%;
    right: 0;
    width: 60px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 80px 0 0 30px;
}
nav a{
    color: black;
}


/* PROFILE */
#profile{
    background-image: url(./Assets/giphy.gif);
    /* background-color: black; */
    padding-block: 200px;
}
#profile .container{ 
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 80px 30px;
}
#profile .container h1{
    /* background-color: black; */
    font-size: 100px;
    color: white;
    /* padding: 20px; */
}
#profile .container h2{
    /* background-color: black; */
    font-size: 20px;
    color: white;
    /* padding: 20px; */
}


/* ABOUT */
#about{
    background-color: black;
    color: white;
    font-size: 30px;
    padding-top: 50px;
}
#about .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about .container h1{
    font-size: 80px;
}

#background{
    width: 80%;
    position: relative;
}
#bgdImg{
    width: 100%;
    border-radius: 30px 80px;
}
#background .overlay{
    width: 100%;
    height: 110%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    margin-top: -20px;
    opacity: 0;
    transform: translateY(20px);
}
#background .overlay:hover{
    opacity: 1;
    transform: translateY(0);
    transition: 500ms;
}
#logoUm{
    width: 20%;
    position: absolute;
    z-index: 1;
    top: -20px; 
    left: -40px;
}
#logoInvoke{
    width: 50%;
    position: absolute;
    z-index: 1;
    bottom: -30px;
    right: -100px;
}
#quote{
    text-align: center;
    font-size: 35px;
    padding-block: 200px;
}


/* PROJECT */
.title-mob{
    display: none;
}
#project{
    height: 600px;
    background-color: black;
    color: white;
    display: flex;
}
#project .container{
    display: flex;
    justify-content: center;
    gap: 7px;
    padding: 0 7px;
}
.deco-box{
    width: 10%;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 30px 80px;
    padding-bottom: 120px;
    overflow: hidden;
}
.deco-box h1{
    font-size: 800%;
    transform: rotate(-90deg);
}
.project-1{
    width: 50%;
    background-color: var(--grey);
    border-radius: 30px 80px;
    padding: 20px;
}
#project .container .column-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.project-card{
    width: 100%;
    height: 100%;
    background-color: var(--grey);
    border-radius: 30px 80px;
    padding: 20px;
} 

/* FOOTER */
footer{
    background-color: black;
    padding-block: 20px;
}
footer .container{
    display: flex;
    justify-content: center;
    padding-block: 20px;    
}
ul{
    list-style: none;
    width: 80%;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    nav{
        font-size: 18px;
        background-color: white;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        width: 200px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #profile .container h1{
        font-size: 90px;
    }
    #about .container h1{
        font-size: 60px;
        padding-bottom: 40px;
    }
    #background p{
        font-size: 15px;
    }
    #background{
        width: 100%;
    }
    #logoInvoke{
        width: 50%;
        position: absolute;
        z-index: 1;
        bottom: -20px;
        right: -50px;
    }
    #quote{
        font-size: 25px;
        padding-block: 80px;
    }

   #project{
        height: 1300px;
        display: flex;
        flex-direction: column;
   }
   #project .container{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 7px;
        padding: 0 7px;
    }
    .title-mob{
        /* width: 80%; */
        font-size: 40px;
        margin: 0 auto;
        text-align: center;
        display: block;
        /* background-color: var(--grey); */
        padding-bottom: 7px;
    }
    .deco-box{
        display: none;
    }
    #project .container .column-right{
        width: 100%;
    }
    .project-card{
        /* width: 200%; */
        height: 400px;
    }
    .project-1{
        width: 100%;
        height: 400px;
    }


}