*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
h1{
    color: #798dd2;
    font-size: 70px;
    padding: 20px 50px 0;
}
#myList{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
li{
    background-color: #212121;
    font-size: 20px;
    list-style: none;
    padding: 15px 30px 15px 30px;
    margin: 0 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}
li:hover{
    background-color: #323232;
    transition: 200ms;
}
#inputText{
    background-color: #212121;
    font-size: 20px;
    list-style: none;
    padding: 15px 60px;
    border-radius: 15px;
    color: white;
    width: 100vw;
    position: absolute;
    bottom: 5px;
}
::placeholder{
    color: #798dd2;
}